node_modules/
.env
npm-debug.log
package-lock.json

build/
dist/
out/

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/out/

backend/node_modules/
backend/build/
backend/dist/
backend/out/

.vscode/
.idea/