@layer components {
  .container {
    @apply min-h-dvh size-full px-3 py-4;
  }

  .card {
    @apply shadow-sm rounded-xl px-3 sm:px-6 py-4 sm:py-7 space-y-4 sm:space-y-6;
  }

  .section-card {
    @apply border border-gray-400/30 space-y-5 sm:space-y-6;
  }

  .input-field {
    @apply font-foreground text-gray-800 dark:text-primary-light dark:placeholder:text-gray-500 border-2 border-gray-400/30 focus:outline-2 outline-primary transition-all duration-100 focus:placeholder:text-transparent w-full;
  }
}
