@layer components {
  .container {
    @apply min-h-dvh size-full px-3 py-4;
  }

  .section-container {
    @apply pt-14 pb-16 px-4 md:px-6 max-w-6xl w-full mx-auto;
  }

  .section-title {
    @apply text-gray-800 dark:text-primary-light font-semibold text-4xl lg:text-5xl;
  }

  .section-text {
    @apply text-gray-800 dark:text-zinc-300 text-lg lg:text-xl max-w-lg mx-auto;
  }

  .container-card {
    @apply shadow-xs rounded-xl px-3 sm:px-6 py-4 sm:py-7 space-y-4 sm:space-y-6 bg-white/65  dark:bg-zinc-800/80 border-2 border-zinc-200/50 dark:border-zinc-700;
  }

  .input-field {
    @apply font-foreground text-zinc-800 dark:text-primary-light dark:placeholder:text-zinc-500 border-2 border-zinc-500/30 dark:border-zinc-700 focus:outline-2 outline-primary transition-all duration-100 focus:placeholder:text-transparent w-full;
  }

  .image-message {
    @apply rounded-lg shadow-xs object-cover aspect-square;
  }

  .chat-container-scrollbar {
    @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-thumb]:rounded-full 
  [&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-thumb]:bg-zinc-400/65
  dark:[&::-webkit-scrollbar-thumb]:bg-zinc-700/70;
  }

  .dot {
    @apply animate-bounce;
  }

  .dot:nth-child(1) {
    animation-delay: 0ms;
  }
  .dot:nth-child(2) {
    animation-delay: 100ms;
  }
  .dot:nth-child(3) {
    animation-delay: 200ms;
  }
}
