@layer components {
  .container {
    @apply min-h-dvh size-full px-3 py-4;
  }

  .header-text {
    @apply text-gray-800 dark:text-primary-light font-semibold;
  }

  .text-color-primary {
    @apply text-gray-800 dark:text-primary-light;
  }

  .text-color-light {
    @apply text-gray-500 dark:text-gray-200;
  }

  .card {
    @apply shadow-sm rounded-xl px-3 sm:px-6 py-4 sm:py-7 space-y-4 sm:space-y-6;
  }

  .section-card {
    @apply border border-gray-400/30 space-y-5 sm:space-y-6;
  }
}
