@layer components {
  .container {
    @apply min-h-dvh px-3 py-4;
  }

  .header-text {
    @apply text-gray-800 dark:text-primary-light font-semibold;
  }

  .text-color-primary {
    @apply text-gray-800 dark:text-primary-light;
  }

  .text-color-light {
    @apply text-gray-500 dark:text-gray-200;
  }
}
