@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #f07167;
  --color-primary-light: #fbf8ef;
  --color-secondary: #fcbf49;

  --font-foreground: "Inter", sans-serif;

  --animate-appear: appear 150ms ease-in-out;

  @keyframes appear {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
