@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #f07167;
  --color-primary-light: #fbf8ef;
  --color-secondary: #fcbf49;

  --font-foreground: "Inter", sans-serif;
}
