@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #f07167;
  --color-primary-light: #fbf8ef;
  --color-secondary: #fcbf49;

  --font-foreground: "Inter", sans-serif;

  --animate-appear: appear 170ms ease-in-out;
  --animate-bounce: bounce 1000ms infinite ease-in-out;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-6px);
    }
  }
}
