@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "./globals.css";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";
